includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: max
    paths:
        - src
        - tests
    ignoreErrors:
        - '#Dynamic call to static method PHPUnit\\Framework\\Assert::#'
        - '#Constructor of class .+\\Tests\\Fixtures\\.+ has an unused parameter#'
        - '#Parameter \#1 \$class of method .+::make\(\) expects class-string<NonExistentClass>#'
        - '#Parameter \#1 \$abstract of method .+::get\(\) expects class-string<NonExistentClass>#'
